
.aaa{
  background-color: #2b0f42;
  color:white;
}

.def{
  margin-left:400px;

}

mat-button{
  padding:10px;

}

* {
  font-family: Comic Sans MS;
  color:white;

}

 .botu{
  font-weight: bold;
  color:white

}

.y{
    margin-left:350px;
}

.botu:hover{
  text-decoration: underline red;
}



@media screen and (max-width:500px) {
  .y{
    margin-left:1px;
}
.def{
  margin-left:1px;

}
.botu{
  font-weight: bold;
  color:red;

}
mat-button{
  padding:1px;

}


}
