

  <nav class="navbar navbar-expand-lg  aaa text-white ">

    <a class="navbar-brand m" href="#">BookStore</a>
    <button style="background-color:black;width:0px;width: -2px;
    font-size: 14px; padding-right: 47px;" class="navbar-toggler "  type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color: black;">Menu</span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav mr-auto up def">
  
        <a mat-button routerLink="/home" ><span  class=" botu">Home</span> </a>
        <a mat-button  routerLink="/aboutus"><span class=" botu"> ABOUT</span> </a>
        <a mat-button  routerLink="/contactus"><span class=" botu" >CONTACT</span> </a>
        <span class="y navbar-right">
        <a mat-button class=" lr" *ngIf="!(authService.user | async)"  routerLink="/login"> Login </a>
        <a mat-button class="" *ngIf="!(authService.user | async)"  routerLink="/register"> Register </a>
        <a mat-button class="lr " *ngIf="authService.user | async" (click)="logout()" (click)="openSnackBar()"    > Logout </a>
        <a mat-button  *ngIf="authService.user | async" routerLink="/cart" > Cart </a>
        <a mat-button class="ld"  *ngIf="authService.user | async" routerLink="/orders" > Orders </a>
      </span>
  
      </div>
  
    </div>
  </nav>
  