.abc{

  margin-bottom: 0px;

  margin-top:0px;
}

.def{
  margin-left:400px;

}

mat-button{
  padding:10px;

}

* {
  font-family: Comic Sans MS;
  color:white;

  // font-weight: bold;
}

 .botu{
  font-weight: bold;
  color:white

}

.y{
    margin-left:350px;
}

.botu:hover{
  text-decoration: underline red;
}

.lr{
  margin-left: 50px;
}
