
.abc{

  margin-bottom: 0px;

  margin-top:0px;
}

.aaa{
  background-color: #2b0f42;
  color:white;
}

.def{
  margin-left:400px;
  margin-top: 1px;

}

mat-button{
  padding:5px;

}

* {
  font-family: Comic Sans MS;
  color:white;

}

 .botu{
  font-weight: bold;
  color:white

}

.y{
    margin-left:250px;
    font-weight: bold;
}

.botu:hover{
  text-decoration: underline red;
}


.lr{
  margin-left: 70px;
}




@media screen and (max-width:500px) {
  .y{
    margin-left:1px;
}
.def{
  margin-left:1px;

}
.botu{
  font-weight: bold;
  color:red;

}
mat-button{
  padding:1px;

}


}
