$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{

    @include zero-margin(20px, 0px);
    width:100%;
    height:300px;
    background-color: #2b0f42;
    color: white;
    margin-top: 10px;
    background-size: cover;;
}

.btn-facebook {color:#fff!important; background-color:#3b5998!important;}
.btn-google-plus{color:#fff!important;background-color:#dd4b39!important;}
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin{color:#fff!important;background-color:#007bb6!important;}
.btn-twitter{color:#fff!important;background-color:#55acee!important;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;}

.def{
    font-size:20px;
    font-family: Sofia;
}
// #cp{
//     margin-right:800px
// }

.lst{
    color:white;
    font-size: 15px;
}
.ad{
    margin-left: 250px;
}
@media screen and (max-width:400px) {
  // img {
  //     width:100%;
  // }
  .container {
      max-width:100%;
      width: 100%;
  }
  .footer{

    @include zero-margin(0px, 0px);
    width:100%;
    height:400px;
    background-color: #ee2e14;
    color: rgb(54, 47, 47);
    margin-top: 0px;
    padding: 1px;
    // background-size: cover;
}
.def{
  font-size:10px;
  font-family: Sofia;
}
.ad{
  margin-left: 1px;
}
.lst{
  color:white;
  font-size: 10px;
}
mat-list{
  margin: 0px;
  padding: 1px;



}
.visually-hidden {
  // clip-path: inset(100%);
  // clip: rect(1px, 1px, 1px, 1px);
  height: 0px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0px;
}
  }
