<div class="footer" 
    fxLayout="row wrap" 
    fxLayout.lt-md="column" 
    fxLayoutAlign="center center" 
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" class="ghi">
       <h3 class="def">Best Books Store</h3>
     <p class="def">  Buy Best books at low prices.</p>
        <!-- <h4>Links</h4>
        <mat-list>
          <mat-list-item><a mat-button routerLink="/home">Home</a></mat-list-item>
          <mat-list-item><a mat-button>About</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/menu">Menu</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/contactus">Contact</a></mat-list-item>
        </mat-list> -->
      </div>
      <div fxFlex="55">
        <h4>Our Address</h4>
        <address style="text-size: 80%; font-family: Comic Sans MS, Comic Sans, cursive;">
        <em>121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> PATHANKOT , PUNJAB<br>INDIA <br></em>  
          <i class="fa fa-phone"></i>: +91 9780 227 528<br>
          <i class="fa fa-fax"></i>: +91 9781 675 398<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center; font-family: FreeMono, monospace; font-size:20px;">
      
        <mat-list >
       <mat-list-item>  <h1 class="lst">Links</h1>   </mat-list-item> 
          <mat-list-item><a mat-button routerLink="/home" class="lst">Home</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a mat-button class="lst" routerLink="/aboutus">About</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a mat-button [disabled]=true routerLink="/menu" class="lst">Menu</a></mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><a mat-button routerLink="/contactus" class="lst">Contact</a></mat-list-item>
        </mat-list>
      <!-- <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a> -->
    </div>
    <mat-divider></mat-divider>
 
</div>
<div id="cp">
  <p style="font-family: monospace	; font-size: 25px; text-align:center;">© Copyright 2020 Mukesh BookStore</p>
</div>