// *{
//     background-color:skyblue
// }

// mat-form-field{
//     margin:15px
// }
.ap{
    margin:auto
}
.form-group:hover{
    color:black;
}
input.ng-invalid.ng-touched {
    border-bottom-color: red;
    border-color: red;
}