<div class="container my-5 justify-content-center text-right">

    <div class="card card-1"  >
      <div class="card-body">
   
        <div class="sq align-self-center  "> <img class=" rounded float-left img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="{{order.image}}" width="135" height="135" /> </div>
        <div class="col my-auto text-center">
            <h4 class="mb-0 ts" >&#8377;{{order.price}}</h4>
        </div>
        <div class="col my-auto text-center">
          <h4 class="mb-0 ts" >Pages: {{order.pages}}</h4>
      </div>
        <h4 class="card-title text-dark ts">Delivery Address</h4>
        <br />
        <h5 class="card-title text-dark ts">{{order.firstName}} {{order.lastName}}</h5>
        <p class="card-text ts">
         {{order.streetAddress}}
        </p>
        <p class="card-text ts">
          Landmark: {{order.mark}}
         </p>
        <p class="card-text ts">
          {{order.state}}
         </p>
        <br />
        <!-- <div>
          <span class="phone text-dark ts">Phone Number &nbsp; &nbsp;</span>
          <span class="number ts">7011298893</span><br><br>
        </div> -->
      </div>
    </div>
  </div>