<div class="container my-5 justify-content-center text-right">

    <div class="card card-1">
      <div class="card-body">
   
        <div class="sq align-self-center justify-content-center "> <img class=" rounded float-left img-fluid my-auto align-self-center mr-2 mr-md-4 pl-0 p-0 m-0" src="https://i.imgur.com/RJOW4BL.jpg" width="135" height="135" /> </div>
        <div class="col my-auto text-center">
            <h4 class="mb-0">&#8377;3,600.00</h4>
        </div>
        <h4 class="card-title text-dark">Delivery Address</h4>
        <br />
        <h5 class="card-title text-dark">Lalit</h5>
        <p class="card-text">
          Zst super market Pakbra, 
          Moradabad <br>
          244001<br />
          Uttar Pradesh
        </p>
        <br />
        <div>
          <span class="phone text-dark">Phone Number &nbsp; &nbsp;</span>
          <span class="number">7011298893</span><br><br>
        </div>
      </div>
    </div>
  </div>