<h2 style="font-size:46px;margin:70px">
    About Us
</h2>
<p >
    As the team worked with institutes to integrate this fees payment platform with their administrative system, they discovered further gaps in the processes along with many operational inefficiencies. Coming from tech-backgrounds, the founders knew that the right technology could revolutionize this system. This led to the launch of EdFly, a 360-degree management solution for institutes.
</p>
<h2 style="font-size:26px;margin:70px;font-family:system-ui;">
    Our Mission:
</h2>
<p>
    As the team worked with institutes to integrate this fees payment platform with their administrative system, they discovered further gaps in the processes along with many operational inefficiencies. Coming from tech-backgrounds, the founders knew that the right technology could revolutionize this system. This led to the launch of EdFly, a 360-degree management solution for institutes.
</p>
<h2 style="font-size:26px;margin:70px;font-family:system-ui;">
    Our Vision:
</h2>
<p>
    As the team worked with institutes to integrate this fees payment platform with their administrative system, they discovered further gaps in the processes along with many operational inefficiencies. Coming from tech-backgrounds, the founders knew that the right technology could revolutionize this system. This led to the launch of EdFly, a 360-degree management solution for institutes.
</p>

<p>
    As the team worked with institutes to integrate this fees payment platform with their administrative system, they discovered further gaps in the processes along with many operational inefficiencies. Coming from tech-backgrounds, the founders knew that the right technology could revolutionize this system. This led to the launch of EdFly, a 360-degree management solution for institutes.
</p>
