  
// .cart-row {
//     padding: 20px 20px 20px 20px;
//     // margin-left:50%
//     font-family: cursive;
//     font-size:20px
// }




.container {
    margin-top: 200px
  }
  .container:hover{
    transform: scale(1.05);
   // box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    cursor: pointer;
    outline:none;
  }

  .container:active{
    outline:none;
  }
  
  p {
    font-size: 14px;
    margin-bottom: 7px
  }
  
  .small {
    letter-spacing: 0.5px !important
  }
  
  .card-2 {
    box-shadow: 2px 2px 10px 0px #000;
    border-radius: 20px;
  }
  
  // hr {
  //   background-color: rgba(248, 248, 248, 0.667)
  // }
  
  .bold {
    font-weight: 500
  }
  
  .change-color {
    color: #AB47BC !important
  }
  .fa-circle {
    font-size: 8px;
    color: #aaa
  }
  
  .rounded {
    border-radius: 2.25rem !important
  }
  
  .progress-bar {
    background-color: #AB47BC !important
  }
  
  .progress {
    height: 5px !important;
    margin-bottom: 0
  }
  
  .invoice {
    position: relative;
    top: -70px
  }
  
  h2 {
    color: rgb(78, 0, 92);
    letter-spacing: 2px !important
  }
  
  .display-3 {
    font-weight: 500 !important
  }
  
  @media (max-width: 479px) {
    .invoice {
        position: relative;
        top: 7px
    }
  
    .border-line {
        border-right: 0px solid rgb(226, 206, 226) !important
    }
  }
  
  @media (max-width: 700px) {
    h2 {
        color: rgb(78, 0, 92);
        font-size: 17px
    }
  
    .display-3 {
        font-size: 28px;
        font-weight: 500 !important
    }
  }
  .border-line {
    border-right: 1px solid rgb(226, 206, 226)
  }
  .img{
    height: 120px;
    width:70px
  }

  .bup{

    font-size: 20px;
  }
  