
  <h1 style="text-align: center;">Your Orders</h1>
  <div class="container my-5  justify-content-center card-1" routerLink="/orderdetails" (click)="orderDetails(doc)" *ngFor='let doc of orders'>

        <div class="card-body">
         
            <div class="row">
                <div class="col">
                    <div class="card card-2">
                        <div class="card-body">
                            <div class="media">
                                <div class="sq align-self-center "> <img class="img-fluid img align-self-center" src="{{doc.image}}" width="200px" height="100px" /> </div>
                                <div class="media-body my-auto text-right">
                                    <div class="row my-auto flex-column flex-md-row">
                                        <div class="col my-auto ">
                                            <h6 class="mb-0 bup" > {{doc.bookname}}</h6>
                                        </div>
                                        <div class="col-auto my-auto bup"> <small>by {{doc.author}} </small></div>
                                    
                                        <div class="col my-auto bup"> <small>Pages : {{doc.pages}}</small></div>
                                        <div class="col my-auto bup">
                                            <h6 class="mb-0 bup">&#8377;{{doc.price}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-3 ">
                          