mat-card {
    max-width: 400px;
    margin: 2em auto;
  
  }


  mat-form-field {
    display: block;
  }
  @media screen and (max-width:400px) {
   
    .mat-card {
        max-width:100%;
        width: 100%;
       float: left;
    }

    span{
      width: 100%;
      text-align: center;
  
      margin-left: 1%;
    }
  
    }
