<div >

    
    <h1 *ngIf="authService.user | async">
        Welcome User: {{ (authService.user | async)?.email }}!
    </h1>


       <mat-card *ngIf="!(authService.user | async)" >
        <mat-toolbar color="primary" >
            <span >LOGIN / SIGNUP</span>
          </mat-toolbar>
      
        <span *ngIf="errmsg" style="margin-bottom: 0px;color:red;font-weight: 570;">
            *INVALID EMAIL ID OR PASSWORD
        </span>
        <mat-form-field appearance="standard" >
            <mat-label >Enter your email id</mat-label>
            <input matInput  placeholder="Enter your email id"  [(ngModel)]="email">
            <mat-hint>for eg. abc@gmail.com</mat-hint>
          </mat-form-field>
          <br>
          <br>
     

        <mat-form-field appearance="standard">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="show_password ? 'text' : 'password'" placeholder="enter password"  [(ngModel)]="password">
            <mat-icon matSuffix mat-button *ngIf="visible"  (click)="showPassword()" style="cursor:pointer">visibility_off</mat-icon>
            <mat-icon matSuffix mat-button *ngIf="!visible"  (click)="showPassword()" style="cursor:pointer">visibility</mat-icon>
            <mat-hint>choose a strong password</mat-hint>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button [disabled]="!email || !password"  (click)="login()" color="primary">LOGIN</button>

            <button mat-raised-button [disabled]="!email || !password"  (click)="signup()" color="primary">SIGNUP</button>
         </mat-card-actions>


       
    </mat-card>

  
    <button (click)="logout()" *ngIf="authService.user | async">
        Logout
    </button>
</div>


