.contact {
  color: #5c6770;
}

.hrLine {
  border-color: #e3e6e6;
  border-top-width: 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 30px;
}

.msg {
 height:40px;
 padding:5px;
 font-weight: 700;
 width:150px;
 font-size: 15px;
}

.help-info {
  font-size: 24px;
  line-height: 1.6em;
  letter-spacing: -1px;
  color: #5c6770;
}

.contact-title {
  margin: 0px;
  font-size: 46px;
  line-height: 1.25;
}

.headquarters {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #5c6770;
}

.address-1 {
  margin-left: 43.2px;
  color: #5c6770;
  font-weight: bold;
  letter-spacing: 2px;
}

.address-2 {
  margin-left: 43.2px;
  color: #5c6770;
  font-weight: bold;
  letter-spacing: 2px;
}

.phone {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #5c6770;
}

.Sales-Enquiry {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #5c6770;
}

.Support {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #5c6770;
}

.Sales {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #5c6770;
}

input.ng-invalid.ng-touched {
  border-bottom-color: red;
  border-color: red;
  

}
// input.ng-valid {
//   border-bottom-color: green;
//   border-color: green;

// }

// .block{
//   color: red;
// }

textarea.ng-invalid.ng-touched {
  border-bottom-color: red;
  border-color: red;
  

}