<section class="contact py-5 bg-light" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12"></div>
        <hr class="hrLine" />
        <div class="col-md-4 leftContactInfo">
          <h4 class="contact-title">Contact Us</h4>
          <div class="clear"></div>
          <h6 class="help-info p-2">
            Need help? Fill the form and start a new Adventure.
          </h6>
          <div class="address">
            <h5 class="headquarters">HEADQUARTERS</h5>
  
            <p class="address-1">
              138/139. Hindustan Kohinoor Industrial Complex.
            </p>
            <p class="address-2">Off.LBS Road, Vikhroli-W, Mumbai-83</p>
          </div>
  
          <div class="phone">
            <h5>PHONE</h5>
            <span class="mobile-icon"></span>
            <p>+91 9833277747</p>
          </div>
          <div class="Sales-Enquiry">
            <h5>SALES ENQUIRY</h5>
            <span class="mobile-icon"></span>
            <p>+91 9833277747</p>
          </div>
          <div class="Support">
            <h5>SUPPORT</h5>
            <span class="email-icon"></span>
            <p>support@edflylearn.com</p>
          </div>
          <div class="Sales">
            <h5>SALES</h5>
            <span class="email-icon"></span>
            <p>support@edflylearn.com</p>
          </div>
        </div>
        <div class="col-md-8 RightContactInfo">
          <div class="card">
            <div class="card-body">
              <h2>Let's Connect</h2>
              <hr />
              <form [formGroup]="contactform" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    First Name *
                    <input
                      id="first-Name"
                      name="First Name"
                      class="form-control"
                      type="text"
                      formControlName="fname"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    Last Name*
                    <input
                      type="text"
                      class="form-control"
                      name="Last Name"
                      id="last-Name"
                      formControlName="lname"
                    />
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    Email Address
                    <input
                      id="Email-id"
                      name="Email"
                      class="form-control"
                      required="required"
                      type="email"
                      formControlName="email"
                    />
                  </div>
                  <div class="form-group col-md-6">
                    Phone Number
                    <input
                      id="phoneId"
                      name="Phone Number"
                      class="form-control"
                      type="number"
                      formControlName="pno"
                    />
                  </div>
                  <div class="form-group col-md-12">
                    Subject
                    <input
                      id="subject"
                      name="subject"
                      class="form-control"
                      type="text"
                      formControlName="subject"
                    />
                  </div>
                  <div class="form-group col-md-12">
                    How can we help?
                    <textarea
                      id="comment"
                      name="comment"
                      cols="40"
                      rows="5"
                      class="form-control"
                      formControlName="comment"
                    ></textarea>
                  </div>
                </div>
                <!-- button -->
                <div class="form-row">
                  <button (click)="onSubmit()"
                    type="button"
                    class="messageBtn"
                    style="
                      background-color: #422fd3;
                      color: #eceafb;
                      border-color: #422fd3;
                    "
                  >
                    Send Message!
                  </button>
                </div>
                <hr class="hrLine" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  