<div class="container">
    <div class="row mt-5">
      <div class="col-sm-6 mb-4">
        <div>
          <img src="{{product.image}}" class="img-fluid dtim"
            alt="product image" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="product-description">
          <h2 class="product-title mb-2 text-uppercase category">{{product.bookname}}</h2>
          <p class="mb-2 text-muted text-uppercase small category">by {{product.author}}</p>
          <!-- <ul class="rating pl-0">
           <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon>
            <fa-icon [icon]="faStar"></fa-icon> -->
            <!-- <span class="no-of-reviews text-lowercase pl-2 text-muted">8,453 Reviews</span> 
          </ul> -->
          <br>
          
          <p>
            <span class="amount mr-1"><strong><span class="currency">$</span> {{product.price}}</strong></span>
            <!-- <span class="old-amount text-muted"><span class="currency">₹</span> 482.99</span>
            <span class="discount">19% off</span> -->
          </p>
          <!-- <p class="pt-1">
           {{product.description}}
          </p> -->
          <!-- <br> -->
          <br>
          <div class="table-responsive">
            <table class="table table-sm table-borderless mb-0">
              <tbody>
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Pages</strong></th>
                  <td>{{product.pages}}</td>
                </tr>
                <!-- <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                  <td>Blue</td>
                </tr> -->
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Shipping</strong></th>
                  <td>Free</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
  <div class="des">
    <h3>
      Description:
    </h3>
<p>
  {{product.description}}
</p>
   
  </div>
  </div>