<div class="container">
    <div class="row mt-5">
      <div class="col-sm-6 col-mb-4">
        <div>
          <img src="{{product.image}}" class="img-fluid dtim"
            alt="product image" />
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="product-description">
          <h2 class="product-title mb-2 text-uppercase category">{{product.bookname}}</h2>
          <p class="mb-2 text-muted text-uppercase small category">by {{product.author}}</p>
      
          <br>

          <p>
            <span class="amount mr-1"><strong><span class="currency">$</span> {{product.price}}</strong></span>
            
          </p>
         
          <br>
          <div class="table-responsive">
            <table class="table table-sm table-borderless mb-0 col-lg-3 col-md-6 col-sm-12 col-xs-12">
              <tbody>
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Pages</strong></th>
                  <td>{{product.pages}}</td>
                </tr>
            
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Shipping</strong></th>
                  <td>Free</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  <div class="des ">
    <h3>
      Description:
    </h3>
<p>
  {{product.description}}
</p>

  </div>
  </div>
