.des{
   // text-align:center;
    padding:40px
}
.dtim{
    margin-left: 50px;
    width: 230px;
    height: 300px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #000;
}
.row{
    border: solid#000;
    margin-left: 100px;
    width: 900px;
    padding-top: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #000;
}
.product-description{
    margin-top: 50px;
}
p{
    font-family: sans;
    font-size: 1.2rem;
    line-height: 1.6;
    word-spacing: 5px;
}

@media screen and (max-width:500px) {
  // img {
  //     width:100%;
  // }
  .container {
      max-width:100%;
      width: 100%;
      float: left;
  }
  .dtim{
      width:50%;
      float:left;
      margin:0;

      height: 50%;
  }
  .row{
    // border: solid rgb(201, 76, 76);
    margin-left: 15px;
    width: 250px;
    padding-top: 2px;
    border-radius: 5px;
    // box-shadow: 5px 5px 15px rgb(230, 162, 36);
}
.product-description{
  margin-top: 25px;
}
.des{
  // text-align:center;
   padding:20px
}
.product-description{
  margin-top: 25px;
}
p{
  font-family: sans;
  font-size: 1.2rem;
  line-height: 1.6;
  word-spacing: 4px;
}
  }
