

 #apu{
   height:500px;
   width:100%;
 //   margin-left:-10px;
  //  margin-right:-10px;
 }
// div{
//   background-image: url("/assets/book.jpg");
// }
// .container{
//   background-image: url(/assets/book.jpg);
//   height:100%;
//   background-size: auto;

// }
.uui{
  outline:none;
}

.uui:active{
  outline:none;
}

.bookscard{
  width:150px;
  height:420px;
  margin-left: 45px;
  margin-top:50px;
  padding:25px
}

p :hover{
  color:rgb(255, 0, 21);
}

.byt{
  width:100%
}

.ad{
  height:180px;
  width:180px
}
.am{
 // padding:50px;
  height:250px;
 // width:140px;
 // margin:auto;
 // margin-top:10px
}
.an{
  margin:20px;
  cursor: pointer;
 
}
.an :hover{
  transform: scale(1.05);

}
.q{
  font-size: 0.7rem;
  font-family: cursive;
}
.card{
  border: 1px solid;
  box-shadow: 10px 10px 10px #888888;
}
.op{
  font-size: 0.8rem;
  text-align:center;
  font-family: cursive;
  letter-spacing: 2px;
  outline:none;

}

.op:active{
  outline:none;
}

.bb{
  padding:0px
}

.oi{
  width: 14rem;
   height: 30rem;
    border-radius: 20px;
     font-size: 0.7rem;
}
.img{
  height: 300px; border-radius: 20px;
 
}

  @media only screen and (max-width: 500px){


.oi{
  width: 150px;
  height: 300px;
}
 .op{
   height: 40px;
   font-size: 8px;
   font-family: ui-sans-serif;
   font-weight: 600;
   letter-spacing: 3px;
   margin: 0 0 0;
  //  padding: 4px 14px;
  //  height: 22px;
 
 }
 .cl{
   height: 90px;
   padding:0px;
 }
.img{
  height: 180px;
}
 .q {
  font-size: 8px;
  font-family: cursive;
  height: 30px;
  margin-left: -14px;
  margin-top: -25px;
  height: 25px
}
#btn{
  padding-right: 15px;
}
.btn-group{

margin-top:2px

}

.p-5 {
  padding-left: 1rem!important;
  padding-top: 2rem;
  padding-left: -31px;
  width:50%;
}
  }




