

 #apu{
   height:500px;
   width:100%;
 //   margin-left:-10px;
  //  margin-right:-10px;
 }
// div{
//   background-image: url("/assets/book.jpg");
// }
// .container{
//   background-image: url(/assets/book.jpg);
//   height:100%;
//   background-size: auto;

// }

.bookscard{
  width:150px;
  height:420px;
  margin-left: 45px;
  margin-top:50px;
  padding:25px
}

p :hover{
  color:rgb(255, 0, 21);
}

.byt{
  width:100%
}

.ad{
  height:180px;
  width:180px
}
.am{
 // padding:50px;
  height:250px;
 // width:140px;
 // margin:auto;
 // margin-top:10px
}
.an{
  margin:20px;
  cursor: pointer;
 
}
.an :hover{
  transform: scale(1.05);

}
.q{
  font-size: 0.7rem;
  font-family: cursive;
}
.card{
  border: 1px solid;
  box-shadow: 10px 10px 10px #888888;
}
.op{
  font-size: 0.8rem;
  text-align:center;
  font-family: cursive;
  letter-spacing: 2px;
}

.bb{
  padding:0px
}




