

 #apu{
   height:500px;
   width:1350px;
    margin-left:-10px;
  //  margin-right:-10px;
 }
// div{
//   background-image: url("/assets/book.jpg");
// }
// .container{
//   background-image: url(/assets/book.jpg);
//   height:100%;
//   background-size: auto;

// }

.bookscard{
  width:150px;
  height:420px;
  margin-left: 45px;
  margin-top:50px;
  padding:25px
}

p :hover{
  color:blue;
}

.byt{
  width:100%
}


