// p{
    
//     font-size:50px;
//     margin-bottom:150px;
//       font-family: cursive;
// }

.qq{
 margin:auto;
 padding:85px;
 margin-top:80px;
 margin-bottom:80px;
 font-family: Georgia, serif;
}

.qaz{
  font-size: 20px;
}

*{
  letter-spacing: 2px;
  word-spacing: 2px;
  text-align: center;
}
.tty{
  padding-top:55px;
  color:blue;
  cursor: pointer;
  text-decoration: underline;

}